/*
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!build.gradle
!.travis.yml
!/textures/
!/gradle.properties
!.gitattributes
!ASSETS_LICENSE.txt
!/images/
!custom-media.json
!custom-bulbs.json
!custom-fluids.json
!open-computers-example.lua