/*
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!build.gradle
!.travis.yml
!/textures/
!/gradle.properties
!.gitattributes
.gradle*
.gradle/gradle.log
.gradle/6.1.1/gc.properties
.gradle/6.1.1/fileChanges/last-build.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/vcs-1/gc.properties
